<h1>Answer</h1>


<h2>Your Question</h2>
<div class="question/answer">
  <%= @question %>
</div>
<br>
<br>
<br>
<h2>Coaches Answer</h2>
<div class="question/answer">
  <%= @answer %>
</div>

<%= link_to "Ask Another Question...", "/ask" %>
